---
// Redirection 301 : ancienne URL Wix → /saas
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/saas" />
    <link rel="canonical" href="https://www.digital-factory.lu/saas" />
    <title>Redirection...</title>
  </head>
  <body>
    <p>Redirection vers <a href="/saas">/saas</a>...</p>
  </body>
</html>
