---
// Redirection 301 : ancienne URL Wix → /kuck
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/kuck" />
    <link rel="canonical" href="https://www.digital-factory.lu/kuck" />
    <title>Redirection...</title>
  </head>
  <body>
    <p>Redirection vers <a href="/kuck">/kuck</a>...</p>
  </body>
</html>
