---
// Redirection 301 : ancienne URL Wix → /teeqode
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/teeqode" />
    <link rel="canonical" href="https://www.digital-factory.lu/teeqode" />
    <title>Redirection...</title>
  </head>
  <body>
    <p>Redirection vers <a href="/teeqode">/teeqode</a>...</p>
  </body>
</html>
