---
interface Props {
  flip?: boolean;
  color?: string;
}

const { flip = false, color = 'white' } = Astro.props;
---

<div class:list={['w-full leading-none', { 'rotate-180': flip }]}>
  <svg viewBox="0 0 1440 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full block" preserveAspectRatio="none" style="height: 60px;">
    <path d="M0 40C240 80 480 0 720 40C960 80 1200 10 1440 40V100H0V40Z" fill={color} />
  </svg>
</div>
